<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head th:replace="templates/fragments/head :: head"></head>
<body>
	<div th:include="templates/fragments/navbar :: navbar"></div>

	<div style="height: 20px;"></div>

	<div class="container">
		<div class="well">

			<h2>My Ranks</h2>

			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#rankModal">
							<span>Create a new Rank</span>
						</button>
					</div>
				</div>
			</div>
			<!-- A static table as reference -->
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<th>Name</th>
						<th>Description</th>
						<th>Actions</th>
					</thead>
					<tbody>
						<tr th:each="rank, stat : ${ranks}">
							<td th:text="${rank.name}">This is static</td>
							<td th:text="${rank.description}">This is static</td>
							<td>

								<form th:action="@{/user/ranks/delete}" method="post"
									style="float: left;">
									<input type="hidden" id="id" name="id" th:value="${rank.id}"></input>
									<button class="btn btn-danger" type="submit">
										<span>Delete</span>
									</button>
								</form>
								<a class="btn btn-primary" role="button" shape="rect" th:href="@{/user/rank-items/{rankId}(rankId=${rank.id})}"
									th:text="#{ranks.button.view.text}">
								</a>
<!-- 								<form th:action="@{/user/ranks/view}" method="post" -->
<!-- 									style="float: left;"> -->
<!-- 									<input type="hidden" id="id" name="id" th:value="${rank.id}"></input> -->
<!-- 									<button class="btn btn-info" type="submit"> -->
<!-- 										<span>View</span> -->
<!-- 									</button> -->
<!-- 								</form> -->

							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- 				
	Iterative form demo 
-->
<!-- 			<div th:each="rank, stat : ${ranks}" style="display: none;"> -->
<!-- 				<form action="@{/user/ranks}" -->
<!-- 					method="post" > -->
<!-- 					<input type="text" th:value="${rank.id}"></input> -->
<!-- 				</form> -->
<!-- 			</div> -->

			<!-- Modal -->
			<div class="modal fade" id="rankModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="modalTitle">New Rank</h4>
						</div>

						<form th:action="@{/user/ranks}" method="post"
							th:object="${newRank}">

							<div class="modal-body">
								<div class="form-group">
									<label for="name">Name</label> <input type="text"
										class="form-control" id="name" th:field="*{name}"> </input>
								</div>

								<div class="form-group">
									<label for="description">Description</label> <input type="text"
										class="form-control" id="description"
										th:field="*{description}"> </input>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-primary">Save
									changes</button>
							</div>
						</form>

					</div>
				</div>
			</div>
			<!-- /modal -->

		</div>
		
		<div th:include="templates/fragments/footer :: copyright"></div>
		
	</div>
	<div th:include="templates/fragments/head :: footer-scripts"></div>

</body>
</html>