<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:sec="http://www.springframework.org/schema/security"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<sec:http auto-config="true" use-expressions="false">
		<sec:intercept-url pattern="/welcome**" access="ROLE_USER" />
		<sec:intercept-url pattern="/user/**" access="ROLE_USER,ROLE_ADMIN"/>
		<sec:intercept-url pattern="/admin/**" access="ROLE_ADMIN"/>
		<sec:form-login login-page="/loginPage"
			default-target-url="/welcome" 
			authentication-failure-url="/loginPage?fail"
			username-parameter="username" 
			password-parameter="password" />
			
		<sec:logout logout-url="/logout" logout-success-url="/" delete-cookies="JSESSIONID" invalidate-session="true"/>
		<!-- enable csrf protection -->
		<sec:csrf />
	</sec:http>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:hsql://localhost:5222/showcase" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<sec:authentication-manager>
		<sec:authentication-provider>
		
			<sec:jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username, password, enabled from user where username=?"
				authorities-by-username-query="select u.username, ur.role 
												from user_role ur inner join user u
												on (ur.user_id = u.id) 
												where u.username=?"/>
				
				<sec:password-encoder hash="bcrypt">
				</sec:password-encoder>
				
<!--			the following create an in memory user-service and add the specified users		 -->
<!-- 			<sec:user-service> -->
<!-- 				<sec:user name="rospo" password="rospo" authorities="ROLE_USER" /> -->
<!-- 			</sec:user-service> -->

		</sec:authentication-provider>
	</sec:authentication-manager>

</beans>