<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head th:replace="templates/fragments/head :: head">
</head>

	<body>
	
		<div th:include="templates/fragments/navbar :: navbar"></div>
	
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h1>Showcase</h1>
				<p>Showcase is a skeleton project for a JavaEE web application that puts together
					a bunch of frameworks and libraries commonly considered among the de facto
					standards of the industry.</p>
				<p>
					<a class="btn btn-primary btn-lg" th:href="@{/learn-more}" role="button">Learn
						more &raquo;</a>
				</p>
			</div>
		</div>
	
		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>Build</h2>
					<p><b>Maven</b> and <b>Git</b> are fundamental and invaluable tools 
						that make the development process 
						so much easier and pleasant. A Maven command can
						perform the entire build, from code generation to execution.
						Git, well, it's just a thing that changes your life as
						a developer.</p>
					<p>
						<a class="btn btn-default" th:href="@{/learn-more}" role="button">View details
							&raquo;</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Test</h2>
					<p><b>JUnit</b>, <b>HyperSQL</b> and <b>Spring MVC Test</b> create a seamless
						test phase. Unit and integration tests are
						performed against a database
						that is created on the fly and populated with predictable data. 
						Spring web controllers are tested through their URLs, thanks
						to Spring MVC Test.</p>
					<p>
						<a class="btn btn-default" th:href="@{/learn-more}" role="button">View details
							&raquo;</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Develop</h2>
					<p><b>Spring</b> as a comprehensive and solid foundation. <b>Bootstrap</b>, <b>JQuery</b> and
						<b>Thymeleaf</b> to build a professional looking and maintainable user
						interface. <b>Hibernate</b> to abstract from the storage technology.
						And an embedded <b>Jetty</b> server that can be started 
						with a Maven goal, to avoid the hassle of deploying the WAR.
					</p>
					<p>
						<a class="btn btn-default" th:href="@{/learn-more}" role="button">View details
							&raquo;</a>
					</p>
				</div>
			</div>
	
			
		</div>
		<!-- /container -->

		<div class="jumbotron">
			<div class="container">
				<h1>Try the new Pentaho autologin feature!</h1>
				<p>Click one of the buttons below to try a secure and flawless autologin
					experience.</p>
				<p>
					<a class="btn btn-primary btn-lg" th:href="@{/pentaho-autologin}"
						role="button">Go to Pentaho (home)&raquo;</a>
					<a class="btn btn-primary btn-lg" th:href="@{/pentaho-autologin-plugin}"
						role="button">Go to Pentaho (plugin)&raquo;</a>
					<a class="btn btn-primary btn-lg" th:href="@{/pentaho-autologin-api}"
						role="button">Go to Pentaho (api)&raquo;</a>
				</p>
			</div>
		</div>
		
		<div class="container">
			<hr />
			<div th:include="templates/fragments/footer :: copyright"></div>
		</div>
	
		<div th:include="templates/fragments/head :: footer-scripts"></div>
	</body>
</html>
